@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Poppins:wght@500;600;800&display=swap');

:root {
    --fundo-principal: #F4EDDA;
    --fundo-geral: #FFF9ED;
    --fundo-de-cards: #F3E3C9;
    --verde-escuro: #679227;
    --verde-hover: #77A22E;
    --verde-claro: #AFCF40;
    --cinza-texto: #7C7875;
    --cinza-claro: #EADECE;
    --branco-suave: #FEFAF1;
    --bege-suave: #EFD9B0;
    --produto-profundo: #232220;
    --fundo-conteudo: #FDF8F0;
    --shadow: 0 2px 16px rgba(0,0,0,0.08);
    --poppins: "Poppins", sans-serif;
    --inter: "Inter", sans-serif;
}