@import url('./variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 115px);
}

.main-title {
    text-align: center;
}

.container-content {
    padding-bottom: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 20px;
    padding-bottom: 20px;
    max-width: 1040px;
    margin: auto;
}

.card {
    position: relative;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.474);
    background-color: #fff;
    border-radius: 20px;
    height: 650px;
}

.card span {
    position: absolute;
    background-color: var(--verde-mandacaru);
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: 600;
    border-radius: 10px;
}

.card h2 {
    font-size: 18px;
}

.card-info {
    height: calc(100% - 375px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 15px 10px;
}

.card-image {
    width: 250px;
    aspect-ratio: 2/3;
    border-radius: 20px 20px 0 0;
}

.download {
    align-self: center;
    width: 192px;
    height: 39px;
    background-color: var(--verde-mandacaru);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.download:hover {
    background-color: var(--verde-neon);
}

.carregar_mais {
    margin-top: 18px;
    text-align: center;
}
